<div class="container-fluid w-75 mt-5">
    <div class="row">
        <div class="list-group col-3">
            {{#each cafes}}
            <button type="button" class="list-group-item list-group-item-action"
                onclick="editPage({{content_id}})">{{title}}</button>
            {{!-- <tr><td>{{methodName}}</td><td>{{url}}</td><td><input type="button" value="Отправить" onclick="executeService({{id}})"/></td></tr> --}}
            {{/each}}
        </div>

        <div class="col-9">
            <form class="mr-5 ml-5 mb-5">
                {{editForm}}
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>